/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

a{
  color: white;
}
a:hover.btn{
  background-color: #0C88FF;
}

/* UTILITY */

.container{
  max-width: 70%;
  width: 1200px;
  margin: 0 auto;
  background-color: rgb(32, 176, 133);
  margin: 120px auto;
}

.debug{
  background-color: rgba(199, 1, 1, 0.6);
}

.d-flex{
  display: flex;
}

.btn{
  display: block;
  color: white;
  padding: 7px 15px;
  border: 1px solid black;
  text-align: center;
  background-color: #0062FE;
}

/* HEADER */

header{
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  width: 100%;
  background-color: white;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

header .left,.right{
  display: block;
}
header nav ul{
  display: flex; 
  list-style: none;
  align-items: center;
}

header nav ul li a{
  display: inline-block;
  color: #555555;
  padding: 0 10px;
  text-decoration: none;
  font-size: 1.1rem;
}

header nav ul li{
  height: 100%;
}

header nav ul li:hover{
  border-bottom: 2px solid black;
  transform: scaleY(40px);
}



/* JUMBOTRON */

div.jumbotron {
  background-color: #B4D0E7;
  margin-top: 80px;
  margin-bottom: 200px;
  height: 600px;
  width: 100%;
}

div.jumbotron{
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: left;
  padding-top: 40px;
}
div.jumbotron h1, .jumbo-content{
  margin: 0 auto;
  padding: 20px 0;
  max-width: 1100px;
  width: 80%;
}

div.jumbotron h1{
  font-size: 5rem;
}
div.jumbotron .jumbo-content{
  position: relative;
  font-size: 1rem;
  height: 400px;
}
div.jumbotron .jumbo-text{
  position: absolute;
  top: 20px;
  left: 0%;
  width: 30%;
}
div.jumbotron .jumbo-img{
  position: absolute;
  top: 20px;
  right: 0%;
  width: 70%;
}

div.jumbotron .jumbo-content a{
  text-decoration: none;
}

div.jumbotron .jumbo-btn{
  position: absolute;
  top:160px;
  left: 0%;
}

div.jumbotron .jumbo-btn a.btn-bk{
  position: absolute;
  color: black;
  top: 60px;
  left: 0%;
  width: 100%;
}

div.jumbotron .arrow-down{
  position: absolute;
  top: 260px;
  font-size: 3.5rem;
}
div.jumbotron .arrow-down a{
  color: black;
}


/* MAIN */

section h2{
  padding: 20px 0px;
  font-size: 2.3rem;
}

section .selector label{
  padding: 10px 5px;
  font-size: 1.1rem;
}

section .border-card{
  justify-content: space-between;
  padding: 10px 0px;
  max-width: 100%;
}

section .border-card .card{
  max-width: 300px; 
  min-width: 30%;
}
section .border-card .card .card-type{
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-bottom: none;
  margin: 0 auto;
  padding: 10px 0;
  height: 40px;
}
section .border-card .card .card-type i{
  margin-right: 8px;
}

section .border-card .card .card-text{
  border: 1px solid black;
  height: 910px;
  padding: 30px 40px;
  padding-right: 65px;
}
section .card-text ul{
  list-style: none;
  padding: 30px 0;
}
section .card-text ul li{
  padding: 10px 0;
  margin: 0px 0px 0px 10px;
}

section .card-text ul li i{
  margin: 0px 0px 0px -5px;
}


section .border-card.central{
  padding: 10px 10px;
  /* DEBUG */
  height: 200px;
  background-color: lightskyblue;
  border: 1px solid black;
}

section .article aside{
  width: 60%;

  /* DEBUG */
  background-color: darkgoldenrod;
}
section .article .text{
  width: 40%;
  padding: 10px 10px;
}

section .box-card{
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0px;
  max-width: 100%;
}

section .box-card .card{
  padding: 10px 10px; 
  max-width: 300px; 
  min-width: 30%;

  /* DEBUG */
  background-color: coral;
  height: 500px;
  border: 1px solid black;
}

/*  BOX CLIENTI */

section.clients{
  justify-content: space-around;
  /* DEBUG */
  background-color: #0093CE;
  height: 400px;
}

section.clients .icons-left, .icons-right{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

section.clients .central-box{
  width: 100%;
  text-align: center;
}


section .icone-clienti{
  /* DEBUG */
  background-color: lightsalmon;
  height: 200px;
  min-width: calc(100% / 2);
  padding: 10px 10px;
}

main .sub-title{
  /* DEBUG */
  background-color: #B4D0E7;
  height: 100px;
}

main .sub-title h2{
  display: flex;
  padding: 10px 20px;
  margin: auto auto;
  justify-content: center;
  align-items: center;
}


/* FOOTER */

footer{
  height: 300px;
  background-color: black;
  color: white;
}