/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

a.btn{
  color: white;
  text-decoration: none;
}
a:hover.btn{
  background-color: #0C88FE;
}

.box-100w{
  width: 100%;
  background-color: #B4D0E7;
}



/* UTILITY */

.container{
  max-width: 70%;
  width: 1000px;
  margin: 0 auto;
  /* background-color: rgb(32, 176, 133); */
  margin: 120px auto;
}

.debug{
  background-color: rgba(199, 1, 1, 0.6);
}

.d-flex{
  display: flex;
}

.btn{
  display: block;
  color: white;
  padding: 7px 15px;
  border: 1px solid black;
  text-align: center;
  background-color: #0161FF;
}

/* HEADER */

header{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  background-color: white;
  /* height: 80px; */
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  box-shadow: -10px -5px 20px 0px;
}

header .left,.right{
  display: block;
}

header nav ul{
  display: flex; 
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 80px;
  padding: 0px 10px;
}
header nav ul li{
  padding: 30px 15px;
}

header nav ul li a{
  display: inline-block;
  color: #555555;
  padding: 0 10px;
  text-decoration: none;
  font-size: 1.1rem;
}


header nav ul li:hover{
  border-bottom: 2px solid black;
  transform: scaleY(40px);
}




/* JUMBOTRON */

div.jumbotron {
  background-color: #B4D0E7;
  margin-top: 80px;
  margin-bottom: 200px;
  height: 740px;
  width: 100%;
}

div.jumbotron{
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: left;
  padding-top: 40px;
}
div.jumbotron h1, .jumbo-content{
  margin: 0 auto;
  padding: 20px 0;
  max-width: 1100px;
  width: 80%;
}

div.jumbotron h1{
  font-size: 5rem;
}
div.jumbotron .jumbo-content{
  position: relative;
  font-size: 1rem;
  height: 400px;
}
div.jumbotron .jumbo-text{
  position: absolute;
  font-size: 1.2rem;
  top: 25px;
  left: 0%;
  width: 20%;
}
div.jumbotron .jumbo-img{
  position: absolute;
  top: 25px;
  right:0%;
  width: 80%;
}

div.jumbotron .jumbo-content a{
  text-decoration: none;
}

div.jumbotron .jumbo-btn{
  position: absolute;
  top: 280px;
  left: 0%;
}

div.jumbotron .jumbo-btn a.btn-bk{
  position: absolute;
  color: black;
  top: 60px;
  left: 0%;
  width: 100%;
}

div.jumbotron .arrow-down{
  position: absolute;
  top: 400px;
  font-size: 3.5rem;
}
div.jumbotron .arrow-down a{
  color: black;
}


/* MAIN */

section h2{
  padding: 20px 0px;
  font-size: 2.3rem;
}

section .selector label{
  padding: 10px 5px;
  font-size: 1.1rem;
}

section .border-card{
  justify-content: space-between;
  padding: 10px 0px;
  max-width: 100%;
}

section .border-card .card{
  max-width: 300px; 
  min-width: 29%;
}
section .border-card .card .card-type,
section .central .card-type{
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-bottom: none;
  margin: 0 auto;
  padding: 10px 0;
  height: 40px;
}
section .border-card .card .card-type i{
  margin-right: 8px;
}

section .border-card .card .card-text{
  border: 1px solid black;
  height: 910px;
  padding: 0px 40px;
  padding-right: 50px;
}
section .card-text ul{
  list-style: none;
  margin: 20px 0px
}
section .card-text ul li{
  display: flex;
  padding: 8px 0;
  margin: 0px 0px 0px 10px;
}
section .card-text ul li.duration{
  color: #cccccc;
}
section .card-text ul li.price{
  font-weight: 700;
}

section .card-text ul li i{
  margin: 0px 0px 0px -5px;
  padding: 0px 5px 0px 0px;
}
section .card-text ul li span.text{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 0px 5px;
  line-height: 23px;
}
section .card-text .buy-now{
  padding: 20px 0px;
}
section .card-text .buy-now link{
  text-decoration: none;
  color: none;
}
section .card-text hr{
  color: black;
  height: 1px;
  width: 50px;
  background-color: black;
}

section .card-text i.fa-check{
  color: #0161FF;
}

section .border-card.central .card-text{
  border: 1px solid black;
  height: 220px;
  padding: 20px 40px;
  padding-right: 50px;
}
section .central .card-text ul li.prima-riga{
  display: flex;
  justify-content: space-between;
}
section .central .card-text ul li span{
  max-width: 60%;
}


section .article aside{
  width: 60%;

  /* DEBUG */
  background-color: darkgoldenrod;
}
section .article .text{
  padding: 50px 60px;
  width: 40%;
}
section .article .text h3,p,a{
  padding: 20px 0px;
  text-align: left;
}

section .article .text div a.btn{
  display: inline-block;
  color:black;
  background-color: white;
  align-items: left;

}

section .box-card{
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
}

section .box-card .card{
  padding: 10px 0px; 
  max-width: 300px; 
  min-width: 30%;
    margin-bottom: 20px;

  /* DEBUG
  background-color: coral;
  border: 1px solid black; */
}

section .box-card .card .box-text h3,p{
  padding: 10px 0px;
  line-height: 22px;
}
section .box-card .card .box-text h3{
  font-size: 1.4rem;
  line-height: 27px;
}

section .team-users{
  margin-top: 50px;
  max-width: 60%;
}


/*  BOX CLIENTI */

section.clients .icons-left, .icons-right{
  display: flex;
  flex-wrap: wrap; 
}

section .icone-clienti{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 320px;
  max-width: calc(100% / 2); 

  /* DEBUG
  border: 1px solid black; */

}

section.clients{
  justify-content: space-between;
  /* DEBUG */
  /* background-color: #0093CE; */
}

section.clients .central-box{
  width: 60%;
  padding: 30px 20px;
}
section .central-box .central-text hr {
  color: black;
  margin: 40px 0px;
  height: 1px;
  width: 100px;
  background-color: black;
}
section .central-box .central-text .sign{
  display: inline-block;
  margin-top: 40px;
}
section .central-box .central-text{
  overflow: auto;
  max-height: 550px;
}

.central-text::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  }
section .icons-left .icone-clienti .team-img{
  display: flex;
  margin: 0 auto;
  max-width: 70%;
  fill: white;
}

section .icons-right .icone-clienti .team-img {
  display: flex;
  margin: 0 auto;
  max-width: 70%;
  fill: white;
}
section .icons-left .icone-clienti img{
  filter: invert(1);
  max-width: 80%;
  margin: 0 auto;
}

section .icons-right .icone-clienti img{
  filter: invert(1);
  max-width: 80%;
  margin: 0 auto;
}

.icone-clienti:active{
  border: 30px solid rgba(231, 231, 231, 0.71);
  padding: -10px;
}

#uno{
  background-color: #A2D39B;
}
#due{
  background-color: #61082B;
}
#tre{
  background-color:#0093CE;
}
#quattro{
  background-color: #FF1C1C;
}
#cinque{
  background-color:#D5001F; 
}
#sei{
  background-color:#B4D0E7 ;
}
#sette{
  background-color: #0D2481;
}
#otto{
  background-color: #FFD830;
}

main .sub-title{
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  align-items: baseline;
  height: 350px;
  margin: -120px auto;
  margin-bottom: 100px;
}

main .sub-title h2{
  color: #620E2E;
  padding: 20px 0px;
  font-size: 2.3rem;
  max-width: 650px;
  vertical-align: center;
}
main .sub-title .btn{
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 40px;
  background-color: white;
}
main .sub-title .btn a{
  text-decoration: none;
  color: black;
}

main .sub-title .btn:hover a{
  color: #0161FF;
}

/* DOMANDE FREQUENTI */

section .domande{
  height: 440px;
  border-bottom: 1px solid black;
}

section .question{
  justify-content: space-between;
  font-size: .95rem;
  height: 100px;
  align-items: center;
  border-top: 1px solid black;
}



section h2{
  padding: 30px 0px;
  margin: 35px auto;
}


section .domande .question-text{
  display: none;
}

/* section .question:hover .question-text{
  display: block;
} */

section .question .fa-chevron-down{
  display: block;
}

section .question .fa-chevron-up{
  display: none;
}

section .domande .question:hover .fa-chevron-up{
  display: block;
}
section .domande .question:hover .fa-chevron-down{
  display: none;
}
section .domande .question:checked p{
  display: inline-block;
  padding-top: 30px;
}


/* FOOTER */

footer{
  justify-content: space-between;
  /* align-items: center; */
  height: 500px;
  background-color: black;
}

footer .footer-up{
  max-width:70%;
  margin: 0 auto;
}

footer .footer-up .menu{
  margin: 0 auto;
  max-width: 800px;
  color: white;
  align-items: center;
  padding: 20px 0px;
}

footer .footer-up .menu h3{
  font-size: 1.5rem;
  margin: 30px 0px;
}

footer .footer-up .menu ul{
  list-style: none;
}

footer .footer-up .menu ul li{
  padding: 10px 0px;
}

footer .footer-up .menu ul li a{
  text-decoration: none;
  color: white;
}

footer .footer-up .menu ul li a:hover{
  color: #0161FF;
}


footer .footer-down{
  width: 100%;
  max-width:1100px;
  margin: 60px auto;
}

footer .footer-down .lingua{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: grey;
}
footer .footer-down hr{
  max-width: calc(80% / 5);
}

footer .footer-down .lingua span{
  padding-top: 40px;
}
footer .footer-down .lingua span i{
  margin-right:10px;
}

footer .footer-down .lingua span a{
  text-decoration: none;
  color: grey;
}
